<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_EasyAttributes>
            <version>0.2.0</version>
        </Elgentos_EasyAttributes>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <easyattributes before="Mage_Adminhtml">Elgentos_EasyAttributes_Adminhtml</easyattributes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_EasyAttributes>
                    <files>
                        <default>Elgentos_EasyAttributes.csv</default>
                    </files>
                </Elgentos_EasyAttributes>
            </modules>
        </translate>
        <layout>
            <updates>
                <easyattributes>
                    <file>easyattributes.xml</file>
                </easyattributes>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <easyattributes>
                        <type>singleton</type>
                        <class>Elgentos_EasyAttributes_Model_Header</class>
                        <method>add</method>
                    </easyattributes>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <global>
       <blocks>
           <adminhtml>
               <rewrite>
                   <catalog_product_attribute_edit_tab_options>Elgentos_EasyAttributes_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
               </rewrite>
           </adminhtml>
       </blocks>
        <models>
            <easyattributes>
                <class>Elgentos_EasyAttributes_Model</class>
            </easyattributes>
        </models>
        <resources>
            <easyattributes_setup>
                <setup>
                    <module>Elgentos_EasyAttributes</module>
                    <class>Elgentos_EasyAttributes_Model_Mysql4_Setup</class>
                </setup>
            </easyattributes_setup>
        </resources>

        <helpers>
            <easyattributes>
                <class>Elgentos_EasyAttributes_Helper</class>
            </easyattributes>
        </helpers>

    </global>
</config>
