<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_EasyAttributes>
            <version>0.2.2</version>
        </Elgentos_EasyAttributes>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <adminhtml_easyAttributes before="Mage_Adminhtml">Elgentos_EasyAttributes</adminhtml_easyAttributes>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_EasyAttributes>
                    <files>
                        <default>Elgentos_EasyAttributes.csv</default>
                    </files>
                </Elgentos_EasyAttributes>
            </modules>
        </translate>
    </adminhtml>
    <global>
       <blocks>
           <adminhtml>
               <rewrite>
                   <catalog_product_attribute_edit_tab_options>Elgentos_EasyAttributes_Block_Catalog_Product_Attribute_Edit_Tab_Options</catalog_product_attribute_edit_tab_options>
               </rewrite>
           </adminhtml>
       </blocks>
       <helpers>
           <easyattributes>
               <class>Elgentos_EasyAttributes_Helper</class>
           </easyattributes>
       </helpers>
    </global>
</config>
